.c-FilterBar {
  display: inline-flex;
  width: 100%;
}

.c-FilterBar-filter-title {
  font-weight: 700;
}

.c-FilterBar-spend-container {
  flex-grow: 2;
  margin: 2px;
  padding: 10px;
}

.c-FilterBar-region-container {
  flex-grow: 1;
  margin: 2px;
  padding: 10px;
  width: 20%;
}

.c-FilterBar-gender-container {
  flex-grow: 1;
  margin: 2px;
  padding: 10px;
}

.c-FilterBar-filter-input {
  margin: 10px 0;
}

.c-FilterBar-gender-radios {
  vertical-align: middle;
}