.App {
  width: 90%;
  margin: 10px auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #aaa;
}

.App-title {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}
